@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #0ea5e9;
  --primary-color-dark: #0284c7;

  --background-color: #f1f5f9;

  --secondary-color: #f59e0b;

  --primary-radius: 20px;
  --main-radius: 10px;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;

  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 37rem 1fr;
  grid-template-rows: 1fr 5fr;
  /* width: 100vw; */
}

.header {
  z-index: 1;
  grid-column: 2;

  padding: 2rem 10rem;

  box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.189);

  /* margin-bottom: 4rem; */
}

.header-top {
  display: grid;
  place-content: center;
  align-items: center;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 4rem;

  margin-bottom: 5rem;
}

.header-top-name {
  font-size: 3rem;
  font-weight: 500;
}

.header-top input {
  margin-right: 30rem;

  background-color: #e5e7eb;
  border: none;
  padding: 1.5rem;
  border-radius: var(--primary-radius);
}

.header-top .icon-cat {
  height: 8rem;
}

.header-top > svg {
  height: 3.5rem;
}

.header-bot .icon-cat {
  height: 13rem;
}

.buttons {
  display: flex;
  gap: 5rem;
}

.header .button {
  display: inline-block;
  text-decoration: none;
  padding: 2rem 5rem;
  background-color: var(--primary-color-dark);
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 50px;
}

.header-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.greetings {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-weight: 500;

  font-size: 2rem;
}

.heading-secondary {
  font-size: 3.5rem;
}

.side-bar {
  grid-column: 1/2;
  grid-row: 1 / span 2;

  background-color: var(--primary-color);
  color: #fff;

  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heading-primary {
  font-size: 4rem;
  /* font-weight: 900; */
  margin-bottom: 5rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  font-size: 3rem;
  font-weight: 700;

  list-style: none;
}

.nav-list:first-child {
  margin-bottom: 10rem;
}

.nav-list:last-child {
  position: absolute;
  font-size: 1.5rem;
  left: 0;
  bottom: 0;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.link:first-child {
  padding-bottom: 22rem;
}

.link svg {
  height: 3rem;
  stroke: #fff;
  fill: #fff;
}

.main {
  grid-column: 2;
  grid-row: 2;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 50rem;
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;

  background-color: var(--background-color);

  padding: 5rem;
}

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.projects-box {
  grid-row: 1/-1;
  grid-column: 1/2;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  background-color: #fff;

  padding: 4rem;
  border-radius: var(--main-radius);
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.116);

  border-left: 10px solid var(--secondary-color);
}

.card-title {
  font-size: 2.2rem;
  font-weight: 700;

  display: inline-block;
  margin-bottom: 1rem;
}

.card .icons {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.card svg {
  height: 3.5rem;
}

.announcements {
  background-color: #fff;
  padding: 4rem;
  border-radius: var(--main-radius);
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.116);
}

.announcement-card {
  padding-bottom: 2rem;
  border-bottom: 1px solid #d4d4d8;
}

.announcement-card:not(:first-child) {
  padding-top: 2rem;
}

.announcement-card:last-child {
  border: none;
}

.announcement-card .announcement-title {
  font-size: 2rem;
  font-weight: 700;

  display: inline-block;
  margin-bottom: 0.5rem;
}

.trending {
  background-color: #fff;
  padding: 3.5rem;
  border-radius: var(--main-radius);
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.116);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  height: auto;
}

.trending-user {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 4rem;
}

.trending-user svg {
  height: 7rem;
}

.user-acc {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.trending-paragraph {
  color: #a3a3a3;
}
