@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #0ea5e9;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-columns: 37rem 1fr;
  grid-row: 1fr 5fr;
  /* width: 100vw; */
}

.header {
  grid-column: 2;
}

.side-bar {
  grid-column: 1/2;
  grid-row: 1 / span 2;

  background-color: var(--primary-color);
  color: #fff;

  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heading-primary {
  font-size: 4rem;
  /* font-weight: 900; */
  margin-bottom: 5rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  font-size: 3rem;
  font-weight: 700;

  list-style: none;
}

.nav-list:first-child {
  margin-bottom: 10rem;
}

.nav-list:last-child {
  position: absolute;
  font-size: 1.5rem;
  left: 0;
  bottom: 0;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.link:first-child {
  padding-bottom: 22rem;
}

.link svg {
  height: 3rem;
  stroke: #fff;
  fill: #fff;
}

.main {
  grid-column: 2;
  grid-row: 2;
}
